# {{ ansible_managed }}
[Service.{{ openio_ROLENAME_namespace }}-ROLENAME-{{ openio_ROLENAME_serviceid }}]
command=/bin/foo
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_ROLENAME_namespace }},ROLENAME,{{ openio_ROLENAME_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
