# {{ ansible_managed }}
[global]
  guest ok = yes
  guest account = nobody
  clustering = {% if openio_samba_ctdb %}yes{% else %}no{% endif %}

  netbios name = {{ openio_samba_server_name }}
  log level = 5
  log file = /var/log/samba/log.%m
  max log size = 50000
# Disable printing support
  load printers = no
  printing = bsd
  printcap name = /dev/null
  disable spoolss = yes
{% if openio_samba_active_directory %}
  security = ADS
  workgroup = {{ openio_samba_active_directory.workgroup }}
  realm = {{ openio_samba_active_directory.domain_name }}
  host msdfs = yes
  idmap config * : backend = tdb
  idmap config * : range = {{ openio_samba_active_directory.id_range }}
{% endif %}


{% for mount in openio_samba_mountpoints %}
[{{ mount.export_name }}]
{%   for key, value in mount.items() if key != "export_name" %}
  {{ key }} = {{ value }}
{%   endfor %}
{% endfor %}
